.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-top: 50px;
}

.img-flicc {
    height: 400px;
    width: auto;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

  /* suggested background color. Makes the buttons and icon pop. maybe add 
  a shadow to the image with white as the shadow. or a glow effect (#2e2e2e) */