body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.navbar {
  padding-bottom: 0;
  height: 100px;
  /* Adjust this value to match the actual height of your navbar */
  background-color: #0A1931;
  width: 100%;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidenav {
  flex: 0 0 200px;
  background: linear-gradient(to bottom, rgb(30, 30, 30), rgb(70, 80, 190));
  /* Gradient from dark neutral to royal blue */
  color: rgb(245, 245, 245);
  /* Light Gray for Text */
  padding: 20px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);
  /* Shadow for visual depth */
  overflow-y: auto;
}

.sidenav h2 {
  font-weight: bold;
  color: rgb(245, 245, 245);
  /* Light Gray for Text */
  margin-bottom: 10px;
}
.sidenav .list-group {
  padding-top: 40px;
}
.sidenav .list-group-item {
  color: rgb(245, 245, 245);
  /* Light Gray for Text */
  background-color: transparent;
  /* Make background transparent to show gradient */
  border: none;
  text-align: center;
}

.sidenav .list-group-item:hover {
  color: rgb(255, 191, 3);
  /* Golden yellow for hover state */
}
.sidebar-link.active {
  background: rgb(30, 30, 30); /* Near Black */
  color: rgb(255, 191, 3); /* Golden Yellow */
  border-left: 4px solid rgb(255, 191, 3); /* Adds emphasis */
  padding-left: 15px; /* Aligns text after border */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: #FDFAF6;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fff;
}

.card {
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px 5px #070707;
  margin: 20px;
  width: 300px;
  font-size: 14px;
}

.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 150px;
  object-fit: "contain";
}

footer {
  background: rgb(30, 30, 30);
  color: rgb(245, 245, 245); /* Light gray for text */
  padding: 20px;
  text-align: center;
}

footer a {
  color: rgb(245, 245, 245); /* Light gray for text */
  text-decoration: none;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  color: rgb(255, 191, 3) !important;
}