.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    margin-top: 50px;
}

.img-flicc {
    height: 400px;
    width: auto;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

body {
    background-color: #2e2e2e;
}

.offcanvas {
    background: linear-gradient(90deg, rgb(30, 30, 30), rgb(70, 80, 190));
    color: rgb(245, 245, 245);
    padding: 20px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.5);
    /* Depth effect */
    transition: transform 0.3s ease-in-out;
}

.offcanvas-header {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 191, 3);
    /* Golden yellow for branding emphasis */
    border-bottom: 1px solid rgba(245. 245. 245. 0.2);
    /* Subtle divider */
    padding-bottom: 10px;
}

.offcanvas-body {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: auto;
}
.offcanvas-close {
    color: rgb(245, 245, 245);
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.offcanvas-close:hover {
    color: rgb(255, 191, 3);
    cursor: pointer;
}